@font-face {
    font-family: "Space Mono";
    src: url("../fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

:root {
    /* Colors */
    --orange: hsl(13 70% 61%);
    --strong-cyan: hsl(172 67% 45%);
    --hover-cyan: hsl(172 61% 77%);
    --very-dark-cyan: hsl(183 100% 15%);
    --dim-cyan: hsl(183 78% 24%);
    --dark-grayish-cyan: hsl(186 14% 43%);
    --grayish-cyan: hsl(183 15% 56%);
    --light-grayish-cyan: hsl(185 41% 84%);
    --very-light-grayish-cyan: hsl(185 38% 97%);
    --shadow-cyan: hsl(185 38% 50% / 20.07%);
    --white: hsl(0 0% 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    background-color: var(--light-grayish-cyan);
}

button {
    display: block;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    border: none;
}

button:hover, button:focus {
    background-color: var(--hover-cyan);
    color: var(--very-dark-cyan);
}

button:hover {
    cursor: pointer;
}

button.selected {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

#calculation {
    background-color: var(--very-dark-cyan);
    color: var(--strong-cyan);
}

fieldset {
    border: none;
}
  
img {
    display: block;
    max-width: 100%;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: var(--very-dark-cyan);
    background-color: var(--very-light-grayish-cyan);
    border: 2px solid transparent;
    text-align: end;
    padding: 12px 24px;
}

input:hover, input:focus {
    outline: none;
    border-color: var(--strong-cyan);
    cursor: pointer;
}

input:invalid {
    border: 2px solid var(--orange);
}

input::placeholder {
    opacity: 35%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type=reset] {
    display: block;
    font-size: 1.25rem;
    background-color: var(--strong-cyan);
    text-transform: uppercase;
}

input[type=reset]:hover, input[type=reset]:focus {
    background-color: var(--hover-cyan);
    border-color: transparent;
}

input[type=reset]:disabled {
    background-color: var(--dim-cyan);
    cursor: auto;
}

label, legend {
    display: block;
    font-size: 1rem;
    color: var(--dark-grayish-cyan);
}

label::after {
    content: "/ person";
    font-size: 0.8125rem;
}

main {
    background-color: var(--white);
}

output {
    font-size: clamp(2rem, 1.3922rem + 2.5932vw, 3rem);
    letter-spacing: clamp(-0.041875rem, -0.0293rem + -0.0535vw, -0.0625rem);
}

output::before {
    content: "$";
}
