@font-face {
    font-family: "Space Mono";
    src: url("../fonts/Space_Mono/SpaceMono-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

:root {
    /* Colors */
    --orange: hsl(13 70% 61%);
    --strong-cyan: hsl(172 67% 45%);
    --hover-cyan: hsl(172 61% 77%);
    --very-dark-cyan: hsl(183 100% 15%);
    --very-dark-cyan-disabled: hsl(183 100% 15% / 35%);
    --dim-cyan: hsl(183 78% 24%);
    --olive-cyan: hsl(180 18% 40%);
    --dark-grayish-cyan: hsl(186 14% 43%);
    --grayish-cyan: hsl(183 15% 56%);
    --light-grayish-cyan: hsl(185 41% 84%);
    --very-light-grayish-cyan: hsl(185 38% 97%);
    --shadow-cyan: hsl(185 38% 50% / 20.07%);
    --white: hsl(0 0% 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

#bill {
    background: url("../images/icon-dollar.svg") no-repeat 17px 50%, var(--very-light-grayish-cyan);
}

body {
    min-height: 100vh;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    background-color: var(--light-grayish-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    display: block;
    font-size: inherit;
    font-family: inherit;
    background-color: var(--very-dark-cyan);
    color: var(--white);
    border: none;
    padding-block: 6px;
}

button:hover, button:focus {
    background-color: var(--hover-cyan);
    color: var(--very-dark-cyan);
}

button:hover {
    cursor: pointer;
}

button.selected {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

#calculation {
    background-color: var(--very-dark-cyan);
    color: var(--strong-cyan);
    padding: 37px 24px 24px;
    margin-inline: 24px;
    border-radius: 15px;
    flex: 0 1 413px;
}

#custom::placeholder {
    color: var(--olive-cyan);
    opacity: 100%;
}

.error {
    display: none;
   color: var(--orange);
}
.input-container:has(input:invalid) .error {
    display: block;
}

fieldset {
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 0 1 379px;
}

form > div, form > fieldset {
    margin-inline: 32px;
}

header {
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
img, svg {
    display: block;
    max-width: 100%;
}

input, button {
    border-radius: 5px;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: var(--very-dark-cyan);
    background-color: var(--very-light-grayish-cyan);
    border: 2px solid transparent;
    text-align: end;
    padding: 4px 14px;
    width: 100%;
    caret-color: var(--strong-cyan);
}

input:hover, input:focus {
    outline: none;
    border-color: var(--strong-cyan);
    cursor: pointer;
}

input:invalid {
    border: 2px solid var(--orange);
    caret-color: var(--orange);
}

input::placeholder {
    color: var(--very-dark-cyan);
    opacity: 35%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input#reset {
    display: block;
    font-size: 1.25rem;
    background-color: var(--strong-cyan);
    text-transform: uppercase;
    text-align: center;
    margin-block-start: 32px;
    line-height: 1.8;
}

input#reset:hover {
    background-color: var(--hover-cyan);
    border-color: transparent;
}

input#reset:focus {
    background-color: var(--hover-cyan);
    border-color: var(--strong-cyan);
}

input#reset:disabled {
    background-color: var(--dim-cyan);
    color: var(--very-dark-cyan-disabled);
    cursor: auto;
}

label, legend {
    display: block;
    font-size: 1rem;
    color: var(--dark-grayish-cyan);
}

label:not(:has(+ output)) {
    padding-block-end: 6px;
}

label:has(+ output) {
    display: flex;
    flex-direction: column;
    color: var(--white)
}

label:has(+ output)::after {
    content: "/ person";
    font-size: 0.8125rem;
    color: var(--grayish-cyan);
}

.labels {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

legend {
    padding-block-end: 16px;
}

main {
    background-color: var(--white);
    padding: 32px 0;
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 600px;
    row-gap: 32px;
}

output {
    font-size: clamp(2rem, 1.3922rem + 2.5932vw, 3rem);
    letter-spacing: clamp(-0.041875rem, -0.0293rem + -0.0535vw, -0.0625rem);
}

output::before {
    content: "$";
}

#people {
    background: url("../images/icon-person.svg") no-repeat 15px 50%, var(--very-light-grayish-cyan);
}

#percent-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 17px;
}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.result:not(:last-child) {
    margin-block-end: 20px;
}

@media (min-width: 992px) {
    body {
        justify-content: center;
    }

    #calculation {
        margin-block: 32px;
        padding: 40px;
        min-height: 417px;
        display: grid;
        grid-template-rows: auto auto 1fr;
    }

    #custom {
        padding-inline: 8px;
    }

    #custom::placeholder {
        text-align: center;
    }

    main {
        max-width: 920px;
        border-radius: 25px;
        gap: 48px;
        justify-content: end;
        align-items: center;
        padding: 0 32px;
    }

    form {
        gap: 40px;
    }

    form > div, form > fieldset, #calculation {
        margin-inline: 0;
    }

    #percent-buttons {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 14px;
    }
    
    #reset {
        align-self: end;
    }

    .result:not(:last-child) {
        margin-block-end: 25px;
    }
}
